body{

	margin: 0;


}

.enlaces{

	height: 60px;
    background-color: #1B9DCF;
    position: fixed;
  	top: 0;
  	width: 100%;
  	margin: 0;
   	padding: 0;

}

.enlaces ul{

	list-style-type: none;
	display: inline-block;
	width: 400px;
	position: relative;
	left: 800px;

}

.enlaces li{

	margin: 25px;
	display: inline;

}

.enlaces a{

	display: inline-block;
	position: relative;
	color: white;
	text-decoration: none;
	transition: all 0.5s ease;
	transform-style: preserve-3d;
	font-size: 15px;
}

.enlaces a {

	display: inline-block;
	position: relative;
	color: white;
	text-decoration: none;

}

.enlaces a:after {

	content: "";
	display: block;
	margin: auto;
	height: 2px;
	width: 0px;
	transition: all .3s;

}

.enlaces a:hover:after {

	width: 100%;
<<<<<<< HEAD
	background: #757575;
=======
	background: #A0A0A0;
>>>>>>> a5f1fbcb0a362cea1bf1331e34805d8b66d2951a

}

.enlaces a:hover{

<<<<<<< HEAD
	color: #757575;

}

.enlaces2 input{

	border-radius: 2px;
	position: fixed;
	left: 200px;
	top:20px;
	width: 180px;

}

.enlaces2 {

	width:40px;
	height: 35px;
	position: fixed;
	left: 200px;
	top:10px;
	

}

.enlaces2 img{

	width: 30px;
	height: 30px;
	position: fixed;
	top:15px;
	left: 405px;
	background-color:#1B9DCF;
	border-radius: 10px;
	transition: all .3s;

}

.enlaces2 img:hover{

	width: 30px;
	height: 30px;
	background-color: #FFC107;
	border-radius: 10px;
	transition: all .3s;

}

.enlaces3 {

	position: fixed;
	top: 0px;
	left: 30px;
	width: 150px;
	height: 60px;

}

.enlaces3 img {

	position: fixed;
	top: -10px;
	left: 10px;
	width: 180px;
	height: 80px;

}

.enlaces3 a{
	text-decoration: none;
}
=======
	color: #8F8F8F;
}




>>>>>>> a5f1fbcb0a362cea1bf1331e34805d8b66d2951a

/* ----------------------------------------------------------- */

/* Efecto parallax*/
.hola2{
	
	height: 450px;
	padding:20px;
	margin-top: 60px;
	background-image: url(../img/sg.png);
	background-attachment: fixed;
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;

}

.hola2 img{

	width: 400px;
	height: 400px;
	position: absolute;
	top: 50px;
	
}

.hola2 h2{

	font-family: courier,arial,helvética;
	font-size: 15;
	position: absolute;
	top: 220px;
	left: 646px;
	width: 600px;
	text-align: center;
	color: white;
	
}

.hola2 span{
	color: #FFC107;

}


/* ----------------------------------------------------------------- */

.hola3{

	height: 800px;
	padding:20px;
	margin-top: 0px;
	background: linear-gradient(#1B9DCF, #FFFFFF); /* Da degradado con solo dos parámetros, la cual, solo son dos colores*/

}


.hola3 h2{

	font-family: courier,arial,helvética;
	color: white;
	width: 300px;
	position: absolute;
	left: 470px;
	top: 520px;
	text-align: center;

}

.hola3 span{

	color: #FFC107;

}


/*Métodos utilizados para la animación del slider*/
.slider {

	width: 95%;
	margin: auto;
	overflow: hidden;

}

.slider ul{

	display: flex;
	padding: 0;
	width: 400%;
	animation:  cambio 20s infinite alternate;
	animation-timing-function: ease;
	
}

.slider:nth-child(2) ul{
	animation-timing-function: ease-in;
}

@keyframes  cambio {

	0% {margin-left: 0;}
	20% {margin-left: 0;}

	25% {margin-left: -100%;}
	45% {margin-left: -100%;}

	50% {margin-left: -200%;}
	70% {margin-left: -200%;}

	75% {margin-left: -300%;}
	100% {margin-left: -300%;}

}



.slider li{

	list-style: none;
	width: 500%;
	
}

.slider img{
	width: 100%;
<<<<<<< HEAD

=======
>>>>>>> a5f1fbcb0a362cea1bf1331e34805d8b66d2951a
}

.slider a{
	text-decoration: none;
}

<<<<<<< HEAD

.slider a:hover{

	transition: all .3s;
	transform: scale(1.2, 1.2);

}
=======
>>>>>>> a5f1fbcb0a362cea1bf1331e34805d8b66d2951a
/* --------------------------------------------------------------- */
.hola4{

	height: 900px;
	padding:20px;
	margin-top: 0px;
	background-color: white;

}


.hola4 h2{

	font-family: courier,arial,helvética;
	font-size: 30px;
	color: #3F3F3F;
	width: 400px;
	position: absolute;
	left: 440px;
	top: 1320px;
	text-align: center;

}

.hola4 span{

	color: #FFC107;

}

.peli {

	width: 1090px;
	position: relative;
	top: 60px;
	left: 80px;
}

.peli ul{

	display: inline;


}

.peli li{

	list-style: none;
	display: inline;
	margin: 20px;

}



.peli img{

	width: 200px;
	height: 300px;
<<<<<<< HEAD
	transition: all .3s;

}

.peli img:hover {

	transition: all .3s;
	transform: scale(1.2, 1.2);
	opacity: 0.6;

}



=======

}

>>>>>>> a5f1fbcb0a362cea1bf1331e34805d8b66d2951a
.peli a{

	text-decoration: none;

}


<<<<<<< HEAD

/*  ---------------------  */


=======
>>>>>>> a5f1fbcb0a362cea1bf1331e34805d8b66d2951a
.peli2 {

	width: 1090px;
	position: relative;
	top: 160px;
	left: 80px;

}

.peli2 ul{

	display: inline;


}

.peli2 li{

	list-style: none;
	display: inline;
	margin: 20px;

}



.peli2 img{

	width: 200px;
	height: 300px;
<<<<<<< HEAD
	transition: all .3s;

=======
>>>>>>> a5f1fbcb0a362cea1bf1331e34805d8b66d2951a

}

.peli2 a{

	text-decoration: none;

}

<<<<<<< HEAD
.peli2 img:hover{

	transition: all .3s;
	transform: scale(1.2, 1.2);
	opacity: 0.6;
}

=======
>>>>>>> a5f1fbcb0a362cea1bf1331e34805d8b66d2951a
/* ----------------------------------------------------------------- */
.hola5 {

	height: 500px;
	margin-top: 0px;
	background-image: url(../img/c3.jpeg);
	background-repeat: no-repeat;
	opacity: 0.4;
	padding: auto;
	
}

.fondo5 {

	height: 500px;
	background: linear-gradient(#FFFFFF,#009688);
	

}

.frase{

	position: relative;
	top: -320px;
	left: 500px;
	width: 300px;
}

.frase h2{

	color: white;
	text-align: center;
	font-family: courier,arial,helvética;

}

/* ------------------------------------------------------- */
.hola6 {

	height: 1250px;
	padding:20px;
	margin-top: 0px;
	background-color: white;

}

.hola6 h2{

	font-family: courier,arial,helvética;
	font-size: 30px;
	color: #3F3F3F;
	width: 400px;
	position: relative;
	left: 430px;

}

.hola6 span{

	color: #FFC107;

}

.cate1 {

	position: relative;
	top: 20px;
	left: 200px;
	width: 1000px;

}
.cate1 h2{

	position: relative;
	left: 100px;
	text-align: left;

}

.cate1 ul{

	display: inline;

}

.cate1 li {

	list-style: none;
	display: inline;
	margin: 20px;

}

.cate1 a{
	text-decoration: none;
}

.cate1 img{
	width: 200px;
	height: 300px;
<<<<<<< HEAD
	transition: all .3s;

}

.cate1 img:hover{

	transition: all .3s;
	transform: scale(1.2, 1.2);
	opacity: 0.6;


=======
>>>>>>> a5f1fbcb0a362cea1bf1331e34805d8b66d2951a
}


.cate2 {

	position: relative;
<<<<<<< HEAD
	top: 80px;
=======
	top: 20px;
>>>>>>> a5f1fbcb0a362cea1bf1331e34805d8b66d2951a
	left: 200px;
	width: 1000px;

}
.cate2 h2{

	position: relative;
	left: 100px;
	text-align: left;
	
}

.cate2 ul{

	display: inline;

}

.cate2 li {

	list-style: none;
	display: inline;
	margin: 20px;

}

.cate2 a{
	text-decoration: none;
}

.cate2 img{
	width: 200px;
	height: 300px;
<<<<<<< HEAD
	transition: all .3s;
}

.cate2 img:hover{

	transition: all .3s;
	transform: scale(1.2, 1.2);
	opacity: 0.6;


=======
>>>>>>> a5f1fbcb0a362cea1bf1331e34805d8b66d2951a
}


.cate3 {

	position: relative;
<<<<<<< HEAD
	top: 140px;
=======
	top: 20px;
>>>>>>> a5f1fbcb0a362cea1bf1331e34805d8b66d2951a
	left: 200px;
	width: 1000px;

}
.cate3 h2{

	position: relative;
	left: 100px;
	text-align: left;
	
}

.cate3 ul{

	display: inline;

}

.cate3 li {

	list-style: none;
	display: inline;
	margin: 20px;

}

.cate3 a{
	text-decoration: none;
}

.cate3 img{
	width: 200px;
	height: 300px;
<<<<<<< HEAD
	transition: all .3s;

}

.cate3 img:hover{

	transition: all .3s;
	transform: scale(1.2, 1.2);
	opacity: 0.6;

=======
>>>>>>> a5f1fbcb0a362cea1bf1331e34805d8b66d2951a
}

/* ----------------------------------------------------- */
.hola7 {

	height:470px;
	padding:20px;
	margin-top: 0px;
	background: linear-gradient(#FFFFFF,#0080BD);
}


/* ----------------------------------------------------- */
.hola8{

	height: 300px;
	padding:20px;
	margin-top: 0px;
	background-color: #0080BD;

}

.fondo8 img{

	height: 300px;
	width: 1220px;
	padding: auto;
<<<<<<< HEAD

}

.fondo9 {

	position: relative;
	top: -150px;
	left: 50px;
	width: 200px;
	height: 200px;

}
.fondo9 img {

	width: 200px;
	height: 200px;
	position: relative;
	top: 10px;
	left: 130px;
}

.fondo9 a{
	text-decoration: none;
}

.fondo9 h2{

	font-family: courier,arial,helvética;
	font-size: 15;
	position: absolute;
	top: 80px;
	left: 300px;
	width: 600px;
	text-align: center;
	color: white;
}

.fondo9 span{
	color: #FFC107;
}
=======
}

>>>>>>> a5f1fbcb0a362cea1bf1331e34805d8b66d2951a

/* ----------------------------------------------------- */
.hola9 {

<<<<<<< HEAD
	height: 200px;
=======
	height: 100px;
>>>>>>> a5f1fbcb0a362cea1bf1331e34805d8b66d2951a
	padding:20px;
	margin-top: 0px;
	background: linear-gradient(#0080BD,#0072A8);


}

<<<<<<< HEAD
.hola9 hr{

	position: relative;
	top: 40px;
	left: 50px;
	width: 420px;
	border: 0; 
	height: 12px;
	box-shadow: inset 0 12px 12px -12px  #BDBDBD;

}

.hola9 p{

	position: relative;
	top: 40px;
	left: 510px;
	color: #BDBDBD;
	text-align: center;
	width: 300px;

}

.hola9 label{
	position: relative;
	top: 80px;
	left: 490px;
	color:#FFFFFF;
}

.hola9 span{
	color: #BDBDBD;
}
=======
>>>>>>> a5f1fbcb0a362cea1bf1331e34805d8b66d2951a
